@font-face {
	font-family: 'Calleo-Trial Light'; 
	src: url(../fonts/Calleo-Trial-Light.ttf); 
}
@font-face {
	font-family: 'stolzl_light Light'; 
	src: url(../fonts/stolzl_light.ttf); 
}
body{
    margin: 0;
    padding: 0;
    background: #E9E5FF;
}
.theme{
    width: 39px;
}
.theme img{
    width: 100%;
}
header {
    padding: 37px 10px 0px 10px;
    max-width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.menu_logo{
    display: flex;
    align-items: center;
}
.authorization_theme{
    display: flex;
    align-items: center;
}
.menu{
    cursor: pointer;
}
.line{
    padding: 0px 44px;
    width: 41%;
}
.line img{
    height: 1px;
    width: 100%;
}
.logo{
    width: 178px;
    padding-left: 55px
}
.logo img{
    width: 100%;
}
.authorization{
    cursor: pointer;
    margin-right: 73px;
    width: 157px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 39px;
    background: url("../img/Group 23.png") no-repeat;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);;
    font-family: Calleo-Trial Light;
}
.main_menu a:last-child {
    display: none;
}
.authorization_phone{
    display: none;
    cursor: pointer;
    margin-right: 73px;
    width: 157px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 39px;
    background: url("../img/Group 23.png") no-repeat;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);;
    font-family: Calleo-Trial Light;
}
.theme{
    cursor: pointer;
}
.main_block{
    max-width: 80%;
    margin: 72px auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 10px 0px 10px;
}
.schedule{
    background: url("../img/Group 24 (2).png") no-repeat;
    width: 70.9%;
    height: 19.3vw;
    flex-wrap: wrap;
    margin-right: 17px;
    background-size: cover;
}
.schedule .fon_img{
    width: 100%;
    height: 100%;
}
.schedule .fon_img img{
    width: 100%;
    height: 100%;
}
.schedule p{
    color: #FFFFFF;
    font-family: 'stolzl_light Light'; 
    margin: 0;
    font-size: 1vw;
}
.schedule div.main_text{
    top: -88%;
    position: relative;
    width: 41%;
    padding-left: 4.8%;
}
.schedule a{
    text-decoration: none;
    top: -31%;
    position: relative;
    padding: 8px 35px;
    font-size: 1vw;
    color: #FFFFFF;
    border-top-right-radius: 5px;
    border-left: none;
    border-right: 1px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
    font-family: 'stolzl_light Light';
    letter-spacing: 1px;
    background: transparent;
    cursor: pointer;
    margin-left: 5.4%;
}
#LinkProfile{
    display: flex;
    flex-wrap: wrap;
    background: url("../img/Group 27 (1).png") no-repeat;
    width: 28%;
    height: 19.3vw;
    background-size: cover;
    text-decoration: none;
}
.profile{
    display: flex;
    flex-wrap: wrap;
    background: url("../img/Group 27 (1).png") no-repeat;
    width: 100%;
    height: 19.3vw;
    background-size: cover;
}
.profile img{
    width: 84%;
    height: 84%;
    flex-grow: 1;
}
.busy_day{
    display: flex;
    flex-wrap: wrap;
    margin-top: 17px;
    margin-right: 17px;
    width: 28%;
    height: 19.3vw;
    background: url("../img/Group 28.png") no-repeat;
    background-size: cover;
}
.busy_day img{
    width: 100%;
    height: 100%;
}
.main_site{
    background: url("../img/Group 29.png") no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    margin-top: 17px;
    width: 70.9%;
    height: 19.3vw;
}
.main_site img{
    width: 100%;
    height: 100%;
}
.profile p{
    color: #FFFFFF;
    font-family: 'stolzl_light Light'; 
    margin: 0;
    font-size: 1vw;
}
.head_block{
    width: 100%;
    display: flex;
    align-items: center;
}
.foot_block{
    display: flex;
    align-items: center;
    width: 100%;
}
.profile div{
    display: flex;
    height: 16%;
    align-items: end;
    margin: 0 auto;
}
.busy_day p{
    color: #FFFFFF;
    font-family: 'stolzl_light Light';
    margin-left: 13.2%;
    font-size: 1vw;
    width: 100%;
    line-height: 1.5vw;
    position: relative;
}
.busy_day p:last-child{
    color: #FFFFFF;
    font-family: 'stolzl_light Light';
    margin: 0;
    margin-top: -0.8vw;
    font-size: 1vw;
    margin-left: 13.2%;
    width: 100%;
}
.busy_day h1{
    color: #FFFFFF;
    font-family: 'stolzl_light Light';
    left: 13.2%;
    margin: 0;
    position: relative;
    font-size: 7vw;
    width: 100%;
}
.main_site .main_text{
    top: -88%;
    position: relative;
    width: 100%;
    padding-left: 4.8%;
}
.main_site button{
    top: -31%;
    position: relative;
    padding: 8px 35px;
    font-size: 1vw;
    color: #FFFFFF;
    border-top-right-radius: 5px;
    border-left: none;
    border-right: 1px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
    font-family: 'stolzl_light Light';
    letter-spacing: 1px;
    background: transparent;
    cursor: pointer;
    margin-left: 5.4%;
}
.main_site p{
    color: #FFFFFF;
    font-family: 'stolzl_light Light'; 
    margin: 0;
    font-size: 1vw;
}



.block_menu{
    display: none;
    background: url("../img/image 1.png") no-repeat;
    position: fixed;
    width: 0vw;
    opacity: 0;
    text-align: center;
    height: 100vh;
    z-index: 2;
    background-size: cover;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-name: openMenu;
}
.main_menu{
    padding-top: 4vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.main_menu a{
    font-size: 16px;
    padding-top: 29px;
    width: 100%;
    color: black;
    text-decoration: none;
    font-family: Calleo-Trial Light;
}
.black_menu{
    display: none;
    z-index: 1;
    position: fixed;
    width: 100vw;
    background: #000;
    opacity: 0.59;
    height: 100vh;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-name: openMenuBlack;
}
.close{
    display: none;
    position: relative;
    left: 19vw;
    top: 4vw;
}


@media (max-width: 1401px) { 
    .schedule a {
        font-size: 14px;
    }
    .schedule p {
        color: #FFFFFF;
        font-family: 'stolzl_light Light';
        margin: 0;
        font-size: 14px;
    }
    .profile div p{
        font-size: 14px;
    }
    .busy_day p{
        font-size: 14px;
    }
    .main_site .main_text p{
        font-size: 14px;
    }
    .main_site button {
        font-size: 14px;
    }
    .authorization{
        font-size: 14px;
    }
    .main_menu a{
        font-size: 14px;
    }
 }


 @media (max-width: 1212px) { 
    .schedule p {
        width: 60vw;
    }
 }

 @keyframes openMenu {
    0%{
        display: block;
        width: 0vw;
        opacity: 0;   
    }
    100%{
        width: 23vw;
        display: block;
        opacity: 1;
    }
}
@keyframes openMenuBlack {
    0%{
        display: block;
        opacity: 0;   
    }
    100%{
        opacity: 0.59;
        display: block;
    }
}

@keyframes closeMenu {
    0%{
        width: 23vw;
        opacity: 1;   
    }
    100%{
        width: 0vw;
        opacity: 0;
        display: none;
    }
}
@keyframes closeMenuBlack {
    0%{
        opacity: 0.59;   
    }
    100%{
        opacity: 0;
        display: none;
    }
}
 @media (max-width: 1105px) { 
    .close{
        position: relative;
        display: flex;
        left: 19vw;
        top: 4vw;
        justify-content: center;
    }
    .schedule {
        width: 100%;
        display: flex;
        text-align: center;
        height: 27.3vw;
        justify-content: center;
        flex-wrap: wrap;
        margin-right: 0px;
        background-size: cover;
    }
    .schedule a {
        top: -42%;
        position: relative;
        padding: 8px 35px;
        color: #FFFFFF;
        border-top-right-radius: 5px;
        border-left: none;
        border-right: 1px solid;
        border-top: 1px solid;
        border-bottom: 1px solid;
        font-family: 'stolzl_light Light';
        letter-spacing: 1px;
        background: transparent;
        cursor: pointer;
        margin-left: 0%;
    }
    .schedule p {
        color: #FFFFFF;
        font-family: 'stolzl_light Light';
        margin: 14px 0px;
        font-size: 14px;
        width: 100%;
    }
    .schedule div.main_text {
        top: -88%;
        position: relative;
        width: 100%;
        padding-left: 0%;
    }
    .head_block {
        width: 100%;
        flex-wrap: wrap;
        display: flex;
        align-items: center;
    }
    #LinkProfile {
        background: url("../img/Group 29 (5).svg") no-repeat;
        margin-top: 17px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 27.3vw;
        background-size: cover;
    }
    .profile {
        background: url("../img/Group 29 (5).svg") no-repeat;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 27.3vw;
        background-size: cover;
    }
    .profile div {
        padding-top: 5%;
        display: flex;
        height: auto;
        width: 100%;
        justify-content: center;
        align-items: end;
        margin: 0 auto;
    }
    .profile img {
        padding-top: 0%;
        margin: 0 auto;
        width: 21vw;
        height: auto;
        flex-grow: 0;
    }
    .foot_block {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }
    .busy_day {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        margin-top: 17px;
        margin-right: 0px;
        width: 100%;
        height: 27.3vw;
        background: url("../img/Group 30 (2).svg") no-repeat;
        background-size: cover;
    }
    .schedule div.main_text {
        top: -88%;
        position: relative;
        width: 100%;
        padding-left: 0;
    }
    .busy_day p {
        margin-left: 0;
        margin-top: 5%;
        margin-bottom: 0;
        line-height: 2vw;
    }
    .busy_day p:last-child {
        margin-left: 0;
        font-size: 14px;
        margin: 0;
        position: relative;
        margin-top: 0;
        top: -7%;
    }
    .busy_day h1 {
        color: #FFFFFF;
        font-family: 'stolzl_light Light';
        left: 0;
        margin: 0;
        position: relative;
        font-size: 9vw;
        width: 100%;
    }
    .main_site {
        display: flex;
        flex-wrap: wrap;
        margin-top: 17px;
        width: 100%;
        height: 27.3vw;
    }
    .main_site .main_text {
        top: -88%;
        text-align: center;
        position: relative;
        width: 100%;
        padding-left: 0;
    }
    .main_site button {
        top: -31%;
        position: relative;
        padding: 8px 35px;
        font-size: 14px;
        color: #FFFFFF;
        border-top-right-radius: 5px;
        border-left: none;
        border-right: 1px solid;
        border-top: 1px solid;
        border-bottom: 1px solid;
        font-family: 'stolzl_light Light';
        letter-spacing: 1px;
        background: transparent;
        cursor: pointer;
        margin: 0 auto;
        margin-left: auto;
    }
    @keyframes openMenu {
        0%{
            display: block;
            width: 50vw;
            opacity: 0;   
        }
        100%{
            width: 50vw;
            display: block;
            opacity: 1;
        }
    }
    @keyframes closeMenu {
        0%{
            width: 50vw;
            opacity: 0;   
        }
        100%{
            width: 0vw;
            opacity: 0;
            display: none;
        }
    }
 }
 @media (max-width: 810px) { 
    .schedule a {
        top: -48%;
        position: relative;
        padding: 8px 35px;
        color: #FFFFFF;
        border-top-right-radius: 5px;
        border-left: none;
        border-right: 1px solid;
        border-top: 1px solid;
        border-bottom: 1px solid;
        font-family: 'stolzl_light Light';
        letter-spacing: 1px;
        background: transparent;
        cursor: pointer;
        margin-left: 0%;
    }
    .main_site button {
        top: -37%;
        position: relative;
        padding: 8px 35px;
        font-size: 14px;
        color: #FFFFFF;
        border-top-right-radius: 5px;
        border-left: none;
        border-right: 1px solid;
        border-top: 1px solid;
        border-bottom: 1px solid;
        font-family: 'stolzl_light Light';
        letter-spacing: 1px;
        background: transparent;
        cursor: pointer;
        margin: 0 auto;
        margin-left: auto;
    }
 }
 @media (max-width: 810px) {
    .line {
        padding: 0px 44px;
        width: 41%;
        display: none;
    }
    .authorization {
        display: none;
        font-size: 14px;
    }
    .main_menu a:last-child {
        width: 157px;
        margin-top: 29px;
        padding: 0;
        display: flex;
        margin-right: 0px;
        color: #FFFFFF;
    }
  }
  @media (max-width: 663px) {
    .logo {
        top: 3.3%;
        right: 32%;
        width: 36%;
        position: absolute;
        padding-left: 0;
    }
    .schedule a {
        top: -64%;
        position: relative;
        padding: 8px 35px;
        color: #FFFFFF;
        border-top-right-radius: 5px;
        border-left: none;
        border-right: 1px solid;
        border-top: 1px solid;
        border-bottom: 1px solid;
        font-family: 'stolzl_light Light';
        letter-spacing: 1px;
        background: transparent;
        cursor: pointer;
        margin-left: 0%;
    }
    .main_site button {
        top: -50%;
        position: relative;
        padding: 8px 35px;
        font-size: 14px;
        color: #FFFFFF;
        border-top-right-radius: 5px;
        border-left: none;
        border-right: 1px solid;
        border-top: 1px solid;
        border-bottom: 1px solid;
        font-family: 'stolzl_light Light';
        letter-spacing: 1px;
        background: transparent;
        cursor: pointer;
        margin: 0 auto;
        margin-left: auto;
    }
    .schedule {
        background: url("../img/Group 32 (1).png") no-repeat;
        width: 100%;
        display: flex;
        text-align: center;
        height: 31.3vw;
        justify-content: center;
        flex-wrap: wrap;
        margin-right: 0px;
        background-size: cover;
    }
    #LinkProfile {
        background: url("../img/Group 31 (6).png") no-repeat;
        margin-top: 17px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 31.3vw;
        background-size: cover;
    }
    .profile {
        background: url("../img/Group 31 (6).png") no-repeat;

        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 31.3vw;
        background-size: cover;
    }
    .profile img {
        padding-top: 0.6%;
        margin: 0 auto;
        width: 23vw;
        height: auto;
        flex-grow: 0;
    }
    .profile div {
        padding-top: 6%;
        display: flex;
        height: auto;
        width: 100%;
        justify-content: center;
        align-items: end;
        margin: 0 auto;
    }
    .busy_day {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        margin-top: 17px;
        margin-right: 0px;
        width: 100%;
        height: 31.3vw;
        background: url("../img/Group 33 (1).png") no-repeat;
        background-size: cover;
    }
    .busy_day p {
        margin-left: 0;
        margin-top: 5%;
        margin-bottom: 0;
        line-height: 3vw;
    }
    .main_site {
        display: flex;
        flex-wrap: wrap;
        padding-top: 17px;
        width: 100%;
        height: 31.3vw;
    }
    .busy_day h1 {
        color: #FFFFFF;
        font-family: 'stolzl_light Light';
        left: 0;
        margin: 0;
        position: relative;
        font-size: 14vw;
        width: 100%;
    }
  }
  @media (max-width: 500px) {
    .logo {
        top: 3.6%;
        right: 26%;
        width: 47%;
        position: absolute;
        padding-left: 0;
    }
    .schedule {
        background: url("../img/Group 28.svg") no-repeat;
        width: 100%;
        display: flex;
        text-align: center;
        height: 85vw;
        justify-content: center;
        flex-wrap: wrap;
        margin-right: 0px;
        background-size: cover;
    }
    .schedule p {
        color: #FFFFFF;
        font-family: 'stolzl_light Light';
        margin: 14px 0px;
        font-size: 5vw;
        width: 100%;
    }
    .schedule a {
        top: -56%;
        position: relative;
        padding: 8px 35px;
        color: #FFFFFF;
        border-top-right-radius: 5px;
        border-left: none;
        border-right: 1px solid;
        border-top: 1px solid;
        border-bottom: 1px solid;
        font-family: 'stolzl_light Light';
        letter-spacing: 1px;
        background: transparent;
        cursor: pointer;
        margin-left: 0%;
        font-size: 5vw;
    }
    #LinkProfile {
        background: url("../img/Group 35.svg") no-repeat;
        margin-top: 17px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 85vw;
        background-size: cover;
    }
    .profile {
        background: url("../img/Group 35.svg") no-repeat;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 85vw;
        background-size: cover;
    }
    .profile img {
        object-fit: cover;
        padding-top: 1%;
        margin: 0 auto;
        width: 73vw;
        height: auto;
        flex-grow: 0;
    }
    .profile div {
        padding-top: 0%;
        display: flex;
        height: auto;
        width: 100%;
        justify-content: center;
        align-items: end;
        margin: 0 auto;
    }
    .profile div p {
        font-size: 5vw;
    }
    .menu_logo {
        display: flex;
        width: 72vw;
        align-items: center;
    }
    .busy_day {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        margin-top: 17px;
        margin-right: 0px;
        width: 100%;
        height: 85vw;
        background: url("../img/Group 36.svg") no-repeat;
        background-size: cover;
    }
    .busy_day p {
        margin: 0 auto;
        width: 87%;
        margin-top: 12%;
        font-size: 5vw;
        margin-bottom: 0;
        line-height: 6vw;
    }
    .busy_day p br{
        display: none;
    }
    .busy_day h1 {
        color: #FFFFFF;
        font-family: 'stolzl_light Light';
        left: 0;
        margin: 0;
        position: relative;
        font-size: 37vw;
        width: 100%;
    }
    .busy_day p:last-child {
        font-size: 5vw;
        margin: 0;
        letter-spacing: 1px;
        position: relative;
        margin-top: 0;
        top: -7%;
    }
    .main_site {
        display: flex;
        flex-wrap: wrap;
        margin-top: 17px;
        padding-top: 0px;
        width: 100%;
        background: url("../img/Group 37.png") no-repeat;
        height: 85vw;
        background-size: cover;
    }
    .main_site .main_text p {
        font-size: 5vw;
    }
    .main_site img {
        opacity: 0;
        width: 100%;
        height: 100%;
    }
    .close {
        display: flex;
        justify-content: center;
        position: relative;
        left: 39vw;
        top: 4vw;
    }
    .main_menu a {
        font-size: 16px;
    }
    .block_menu {
        background: url("../img/image 1.svg") no-repeat;
        background-size: cover;
    }
    .main_site button {
        top: -50%;
        position: relative;
        padding: 8px 35px;
        font-size: 5vw;
        color: #FFFFFF;
        border-top-right-radius: 5px;
        border-left: none;
        border-right: 1px solid;
        border-top: 1px solid;
        border-bottom: 1px solid;
        font-family: 'stolzl_light Light';
        letter-spacing: 1px;
        background: transparent;
        cursor: pointer;
        margin: 0 auto;
        margin-left: auto;
    }
    @keyframes openMenu {
        0%{
            display: block;
            width: 0vw;
            opacity: 0;   
        }
        100%{
            width: 100vw;
            display: block;
            opacity: 1;
        }
    }
    @keyframes closeMenu {
        0%{
            width: 50vw;
            opacity: 0;   
        }
        100%{
            width: 0vw;
            opacity: 0;
            display: none;
        }
    }
    @media (max-width: 376px) {
        .logo {
            top: 3.9%;
            right: 26%;
            width: 47%;
            position: absolute;
            padding-left: 0;
        }
        
    }
  }
